stages:
  - build_and_test

.build_template:
  stage: build_and_test
  before_script:
    - apt-get update
    - apt-get install -y cmake g++ make git pkg-config python3 autoconf automake libtool linux-headers-amd64
  script:
    - echo "Building cmake-projects..."
    - cmake -S cmake-projects -B build-projects
    - cmake --build build-projects
    - echo "Running tests..."
    - ctest --test-dir build-projects --output-on-failure
    - echo "Packaging..."
    - cd build-projects && cpack -G DEB
    - echo "Configuring linux-modules..."
    - cd ..
    - cmake -S linux-modules -B build-modules
    # Note: explicit build of linux-modules is skipped due to potential kernel mismatch in CI containers

  artifacts:
    paths:
      - build-projects/*.deb
    expire_in: 1 week

debian-bookworm:
  image: debian:bookworm
  extends: .build_template

debian-trixie:
  image: debian:trixie
  extends: .build_template
