/build/
build_test/
build-projects/
build-modules/
doc/doxydoc/
tmp/
build_output.txt
build_log.txt
sensor_data.csv
.cache/
build_asan/
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/quasar.iml
.idea/vcs.xml
.gradle/
helpers/__pycache__/check_annotations.cpython-313.pyc
helpers/__pycache__/check_metrics.cpython-313.pyc
.gitignore
helpers/__pycache__/compliance_suite.cpython-313.pyc

# MkDocs Kit build outputs
doc/site/
doc/man/
doc/documentation.pdf

