Source: tsyncpci
Section: kernel
Priority: optional
Standards-Version: 4.0.4
Maintainer: Spectracom <techsupport@spectracomcorp.com>
Rules-Requires-Root: no

Package: tsyncpci-source
Architecture: all
Description: Source of tsyncpci driver

Package: tsyncpci-dkms
Architecture: all
Depends: ${misc:Depends},
Description: Source for the tsynpci driver (DKMS)
