#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

#BUILD_DATE := $(shell dpkg-parsechangelog --show-field Date)

install/tsyncpci-dkms::
	DEB_CPPFLAGS_MAINT_APPEND=-DCOLDFIRE dh_install -p$(cdbs_curpkg) Makefile usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	DEB_CPPFLAGS_MAINT_APPEND=-DCOLDFIRE dh_install -p$(cdbs_curpkg) *.[chS] usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	DEB_CPPFLAGS_MAINT_APPEND=-DCOLDFIRE dh_install -p$(cdbs_curpkg) include usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	dh_dkms -p$(cdbs_curpkg)
